.footercontainer {
  background-color: #162137;
  padding: 30px;
  padding-inline: 5rem;
  width: 100%;
  /* min-height: 200px; */
  /* position: absolute;
  bottom: 0; */
}
.customizedFooterContainer {
  background-color: #162137;
  padding: 30px;
  /* padding-inline: 3rem; */
  width: 100%;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerImage {
  /* height: 130px;
  width: 80px; */
  cursor: pointer;
}
.listColumn {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  justify-content: space-between;
}
.catName {
  margin-bottom: 15px;
}
.subCatName {
  margin-bottom: 10px;
}
.footerLogo{
  padding:7px !important
}

@media only screen and (max-width: 768px) {
  .listColumn {
    margin-bottom: 20px;
  }
  .footercontainer {
    min-height: auto;
  }
  .customizedFooterContainer {
    padding: 10px;
    padding-inline: 2rem;
  }
  .vendorImage {
    margin-block: 12px;
  }
  .footerLogo{
    padding:7px !important;
    padding-block: 10px !important;
    margin-bottom: 5px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .vendorImage {
    text-align: center;
    padding-inline: 10px !important;
  }
}
