.cardCon {
  /* margin: 20px; */
  margin-block: 10px;
  margin-inline: 10px;
  margin-right: 0;
  background-color: #f4f4f4;
  border-radius: 20px;
  overflow: hidden;
}
.unitCardCon {
  /* margin: 20px; */
  margin-block: 10px;
  margin-inline: 10px;
  margin-right: 0;
  background-color: #f4f4f4;
  /* max-height: 150px; */
  border-radius: 20px;
  overflow: hidden;
}
.cardImgCon {
  height: 200px;
  max-height: 200px;
  width: 100%;
  border-radius: 20px;
  flex-wrap: wrap;
  position: relative;
}
.customCardImgCon {
  height: 200px;
  min-height: 250px;
  width: 100%;
  border-radius: 20px;
  flex-wrap: wrap;
  position: relative;
}
.ant-card-body {
  padding: 0 !important;
}
.details {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 20px;
  padding-inline: 15px;
}
.flexing {
  align-items: center;
  justify-content: center;
}
.iconsCon {
  height: 100%;
  /* border-left: #CECECE 1px solid; */
  /* padding-inline: 20px; */
  margin: auto;
  padding-block: 15px;
  padding-inline: 0;
}
.directions {
  position: absolute;
  display: flex;
  flex-direction: row;
  right: 5%;
  top: 5%;
  z-index: 5;
}
.next {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  margin-inline-start: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prev {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .unitCardCon {
    max-height: fit-content;
  }
  .directions {
    right: 10%;
  }
  .details {
    align-items: center;
  }
}

@media only screen and (min-width: 768px) {
  .unitCardCon {
    max-height: 150px;
  }
}

/* .iconsSection:before {
  display: block;
  content: '';
  background: silver;
  height: 30px;
  width: 2px;
} */
