.subContainer {
  width: 95%;
  max-width: none;
}
.navContainer {
  border-bottom: 1px solid #f15841;
  /* position: absolute;
  top:0; */
  width: 100%;
}
.customNavContainer {
  position: absolute;
  width: 100%;
}
.NavImage {
  height: 75px;
  width: 45px;
  position: relative;
  cursor: pointer;
}
.signIn {
  background-color: #f15841;
  color: white;
  padding-inline: 3rem !important;
  padding-block: 10px;
  margin-inline: 28px;
  cursor: pointer;
}
.navText {
  font-size: 18px;
  margin-inline: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navlangEn {
  font-size: 18px;
  /* margin-right: 5px; */
  padding-right: 0px;
  color: black;
  margin-left: 10px;
}
.navlangAr {
  font-size: 18px;
  margin-right: 5px;
}
.sendVerification {
  padding-block: 15px;
  width: 90%;
  display: flex;
  justify-content: center;
  background-color: #162137;
  cursor: pointer;
}

.label {
  color: #162137 !important;
}

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  .signIn {
    margin-inline: 30px;
    max-width: 170px;
    margin-block: 15px;
    /* order: -1; */
    /* margin: auto; */
  }
  .navlangAr {
    margin-left: 30px;
  }
  .navlangEn {
    margin-left: 30px;
  }
  /* if he wants the navbar to drag the screen down instead of being above it, then uncomment position static, and remove the zIndex  */
  .customNavContainer {
    /* position: static; */
    background-color: #fff;
    z-index: 5000;
  }
  .navTextCon {
    margin-inline-start: 15px;
  }
  .navText {
    margin: 15px;
  }
}
