.subContainer {
  width: 95%;
  max-width: none;
}
.navContainer {
  border-bottom: 1px solid #f15841;
}
.NavImage {
  height: 75px;
  width: 45px;
  position: relative;
}
.signIn {
  background-color: #f15841;
  color: white;
  padding-inline: 3rem !important;
  padding-block: 10px;
  margin-inline: 28px;
}
.navText {
  font-size: 18px;
  margin-inline: 20px;
}
.navlangEn {
  font-size: 18px;
  /* margin-right: 5px; */
  padding-right: 0px;
  color: black;
  margin-left: 10px;
}
.navlangAr {
  font-size: 18px;
  margin-right: 5px;
}

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  .signIn {
    margin-inline: 20px;
    max-width: 150px;
    /* order: -1; */
  }
  .navlangAr {
    margin-left: 20px;
  }
  .navlangEn {
   
    margin-left: 20px;
  }
}
