.ContactUsContainer {
  width: 90%;
  min-height: 100%;
  margin: auto;
  margin-inline: auto;
  margin-top: 5rem;
  padding-bottom: 3rem;
}
.detailsCol {
  margin-bottom: 5rem;
}

@media only screen and (max-width: 768px) {
  .ContactUsContainer {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .detailsCol {
    margin-bottom: 0;
  }
}
