/* NX = not expanded */

.sideNavContainer {
  background-color: #162137;
  width: 305px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  color: var(--light);
  transition: 0.4s;
  padding: 1rem;
}
.sideNavContainerNX {
  width: 40px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  transition: 0.4s;
  background-color: #162137;
}
.navHeading {
  /* grid-template-columns: 2fr 1fr; */
  /* grid-template-rows: 1fr; */
  height: 50px;
}

.hamburger {
  border: none;
  cursor: pointer;
  position: absolute;
  right: -4.5rem;
  top: 15px;
  background-color: #f15841;
  /* padding: 10px; */
  padding-block: 10px;
  padding-inline: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  transition: 0.4s;
}
.hamburgerNX {
  border: none;
  cursor: pointer;
  position: absolute;
  right: -1.4rem;
  top: 15px;
  background-color: #f15841;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.4s;

  /* width: 100px; */
}
.propertyView {
  width: auto;
  margin-bottom: 1rem;
  background-color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.4s;
}
.propertyViewSelected {
  width: auto;
  margin-bottom: 1rem;
  background-color: #5c6473;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.4s;
}
.roomView {
  display: flex;
  transition: 1s;
}
.room {
  padding: 5px;
  min-width: 35px;
  background-color: #5c6473;
  margin-inline: 0.5px;
  cursor: pointer;
  transition: 1s;
}
.selectedRoom {
  padding: 5px;
  min-width: 35px;
  border: 1px solid #f15841;
  background-color: #fff;
  margin-inline: 0.5px;
  cursor: pointer;
}
.resetButton {
  text-decoration: underline;
  cursor: pointer;
  padding: 3px;
  margin-block: 5px !important;
}
.applyButton {
  background-color: #f15841;
  width: 80%;
  height: 45px;
  border: none;
}
