@import "./variables/root";
@import "./variables/fonts";
@import "./variables/colors";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
  font-family: var(--ff-regular);
}

.body {
  overflow: auto;
}

:root {
  --ff-Black: "Gilroy-Black";
  --ff-Bold: "Gilroy-Bold";
  --ff-ExBold: "Gilroy-ExtraBold";
  --ff-Heavy: "Gilroy-Heavy";
  --ff-Light: "Gilroy-Light";
  --ff-Medium: "Gilroy-Medium";
  --ff-Regular: "Gilroy-Regular";
  --ff-SemiBold: "Gilroy-SemiBold";
  --ff-Thin: "Gilroy-Thin";
  --ff-ExThin: "Gilroy-ExtraThin";

  /* colors */
  --clr-red: #4285f4;
  --clr-white: #ffff;
  --clr-semiWhite: #e6e6e6;
  --clr-gray: #5d5e60;
  --clr-lightGray: #e7e8ef;
  --clr-shadowColor: #00000029;
  --clr-black: #072227;

  /* font sizes */
  --fs-9: clamp(9px, 9px, 16px);
  --fs-14: clamp(0.8rem, 0.729vw, 16px);
  --fs-15: clamp(0.8rem, 0.781vw, 16px);
  --fs-16: clamp(14px, 0.833vw, 18px);
  --fs-17: clamp(15px, 0.885vw, 20px);
  --fs-18: clamp(16px, 0.938vw, 20px);
  --fs-20: clamp(18px, 1.042vw, 30px);
  --fs-21: clamp(18px, 1.094vw, 30px);
  --fs-22: clamp(18px, 1.146vw, 34px);
  --fs-23: clamp(18px, 1.198vw, 36px);
  --fs-26: clamp(19px, 1.354vw, 37px);
  --fs-28: clamp(20px, 1.458vw, 38px);
  --fs-30: clamp(25px, 1.563vw, 40px);
  --fs-32: clamp(28px, 1.667vw, 45px);
  --fs-37: clamp(28px, 1.927vw, 45px);
  --fs-40: clamp(30px, 2.083vw, 50px);
  --fs-48: clamp(34px, 2.5vw, 54px);
  --fs-52: clamp(40px, 2.708vw, 60px);
  --fs-54: clamp(42px, 2.813vw, 62px);
  --fs-60: clamp(50px, 3.125vw, 65px);
  --fs-64: clamp(50px, 3.333vw, 70px);
  --fs-70: clamp(60px, 3.646vw, 75px);
  --fs-80: clamp(70px, 4.167vw, 85px);
}

@media (max-width: 600px) {
  :root {
    /* font sizes */
    --fs-9: clamp(9px, 9px, 16px);
    --fs-14: clamp(14px, 0.729vw, 16px);
    --fs-15: clamp(9px, 0.781vw, 16px);
    --fs-16: clamp(9px, 0.833vw, 18px);
    --fs-17: clamp(9px, 0.885vw, 20px);
    --fs-18: clamp(9px, 0.938vw, 20px);
    --fs-20: clamp(12px, 1.042vw, 30px);
    --fs-21: clamp(12px, 1.094vw, 30px);
    --fs-22: clamp(13px, 1.146vw, 34px);
    --fs-23: clamp(14px, 1.198vw, 36px);
    --fs-26: clamp(16px, 1.354vw, 37px);
    --fs-28: clamp(16px, 1.458vw, 38px);
    --fs-30: clamp(16px, 1.563vw, 40px);
    --fs-32: clamp(16px, 1.667vw, 45px);
    --fs-37: clamp(18px, 1.927vw, 45px);
    --fs-40: clamp(20px, 2.083vw, 50px);
    --fs-48: clamp(22px, 2.5vw, 54px);
    --fs-52: clamp(27px, 2.708vw, 60px);
    --fs-54: clamp(30px, 2.813vw, 62px);
    --fs-60: clamp(32px, 3.125vw, 65px);
    --fs-64: clamp(34px, 3.333vw, 70px);
    --fs-70: clamp(36px, 3.646vw, 75px);
    --fs-80: clamp(50px, 4.167vw, 85px);
  }
}

.pointer {
  cursor: pointer;
}

.nav-link.active {
  color: transparent;
}

.ant-card-body {
  padding: 0;
}

.navbar-nav .show>.nav-link,
.navbar-nav .nav-link.active {
  color: "white";
}

.ant-carousel .slick-dots-bottom {
  bottom: 0;
}

.ant-carousel .slick-dots li.slick-active {
  background: #fff;
  width: 16px !important;
  height: 6px;
  border-radius: 10px;
}

.ant-carousel .slick-dots li {
  background: #fff;
  width: 6px !important;
  height: 6px;
  border-radius: 3px;
}

.ant-carousel .slick-dots li.slick-active button {
  background: #fff;
  opacity: 1;
}

.css-1ne7pc9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  height: 40px;
}

.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
  color: #f15841 !important;
  width: 2.2rem !important;
  height: 2.2rem !important;
  top: calc(50% - 1.2rem) !important;
  // padding-bottom: 5px !important;
}

.css-e363es-MuiFormControl-root {
  // border-right: 2px solid #f8f8f8 !important;
  padding-inline: 10px !important;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: #ad3a28;
}

// detail Carousel

.carousel-control-next-icon {
  background-image: url("../public/assets/Carousel-arrow-right.svg");
  width: 50px;
  height: 50px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 25%;
  opacity: 1 !important;
}

.carousel-control-prev-icon {
  background-image: url("../public/assets/Carousel-arrow-left.svg");
  width: 50px;
  height: 50px;
}